[Desktop Entry]
Name=Penguin Eyes
Name[pl]=Oczy pingwina
Comment=You are watched!
Comment[pl]=Jesteś obserwowany!
Icon=penguineyes.png
Exec=penguineyes --sync
Terminal=false
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
